@include breakpoint ('desktop') {
  //hero
  .hero {
    .hero-form {
      .form {
        padding: 25px 0;
      }
    }
  }
}

@include breakpoint ('tablet') {
  //navigation
  .nav {
    align-items: flex-start;
    flex-direction: column;

    &.active {
      .nav-menu {
        display: block;
      }
    }
  }

  .nav-menu {
    display: none;
    background-color: $white;
    margin: 0;
    padding: 16px;
    width: 100%;

    &-item {
      position: relative;
      display: block;
      padding: 15px 0;
      margin: 0;
    }
  }

  .nav-mobile-trigger {
    display: block;
  }
  //dropdown menu
  .nav-sub-menu {
    position: relative;
    margin: 10px -16px 0;
    display: none;
  }

  .dropdown {
    &:after {
      position: absolute;
      top: 17px;
      right: 20px;
      font-size: 20px;
    }
  }
  //hero
  .hero.hero-mobile {
    height: 800px;
    .hero-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .hero-form,
      .hero-image {
        width: 100%;
      }

      .hero-form {
        padding: 0 50px;
        border-bottom: 2px solid $eastern-blue;
      }
    }
  }

  //tile
  .tile-container {
    flex-direction: column;

    .tile-content {
      padding: 0;
      margin: 0 0 60px 0;
    }
  }

  //footer
  .footer {
    flex-direction: column;
  }
}

@include breakpoint ('mobile') {
  //footer
  .footer {
    .footer-aisle-container {
      flex-direction: column;
    }
  }
}
